.carousel-inner{
    padding-top: 40px;
}


#carouselExampleIndicators{
    color: chartreuse;
}

.title{
   
}

.card-group{
    padding-top: 50px;
}

.card{
    padding-top: 50px;
}
.titre{
    font-size: x-small; 
    text-align: center;
    padding-top: 50px;
}